.signal {
    position: relative;
    width: 25px;
    height: 19px;
    margin: 0 auto;
}

.signal-0-25 span:nth-child(1){
    background-color: #6a94c3 !important;
}

.signal-25-50 span:nth-child(1), .signal-25-50 span:nth-child(2) {
    background-color: #6a94c3 !important;
}

.signal-50-75 span:nth-child(1), .signal-50-75 span:nth-child(2),
.signal-50-75 span:nth-child(3){
    background-color: #6a94c3 !important;
}

.signal-75-100 span:nth-child(1), .signal-75-100 span:nth-child(2),
.signal-75-100 span:nth-child(3), .signal-75-100 span:nth-child(4){
    background-color: #6a94c3 !important;
}


.signal span:nth-child(1) {
    height: 25% !important;
    left: 0;
}

.signal span:nth-child(2) {
    height: 40% !important;
    left: 25%;
}

.signal span:nth-child(3) {
    height: 55% !important;
    left: 49%;
}

.signal span:nth-child(4) {
    height: 70% !important;
    left: 72%;
}

.signal span:nth-child(1), span:nth-child(2), span:nth-child(3), span:nth-child(4){
    position: absolute;
    bottom: 0;
    float: left;
    display: block;
    background-color: white;
    width: 5px;
    margin-right: 2px;
    border: 1px solid black;
    border-radius: 2px;
    height: 100%;
}
